#head{
	border-bottom: 1px solid lightgray;
}
#new_box{
	width: 100%;
	height: 100%;
}
.new_main{
	width: 100%;
}
.new_top{
	width: 100%;
	height: 175px;
}
.new_topt{
	width: 1100px;
	height: 175px;
/*	border: 1px solid red;*/
	margin: auto;
}
.topt_a{
	width: 500px;
	height: 175px;
/*	border: 1px solid red;*/
	margin: auto;
}
.con_top{
	width: 235px;
	height: 120px;
	margin: auto;
	text-align: center;
	line-height: 120px;
	font-size: 28px;
	font-weight: 500;
}
.con_main{
	width: 500px;
	height: 50px;
	/*border: 1px solid red;*/
	line-height: 50px;
}
.con_main ul{
	display: flex;
	justify-content: space-around;
}
.con_main ul li{
	width: 153px;
	/*border-bottom: 3px solid red;*/
	text-align: center;
}
.con_main a{
	font-size: 16px;
	color: black;
}
.new_mainb{
	width: 100%;
	height: 1145px;
	background-color: #f7f7f7;
}
.new_maina{
	width: 100%;
	height: 900px;
	background-color: #f7f7f7;
}























